USE [master]
GO
/****** Object:  Database [Bai02]    Script Date: 02/10/2024 20:47:23 ******/
CREATE DATABASE [Bai02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bai02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Bai02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bai02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Bai02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bai02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bai02]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 02/10/2024 20:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] NOT NULL,
	[dblOrderTotal] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartItem]    Script Date: 02/10/2024 20:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartItem](
	[model] [varchar](255) NOT NULL,
	[totalcost] [float] NULL,
	[unicost] [float] NULL,
	[quantity] [int] NULL,
	[description] [varchar](255) NULL,
	[cart_id] [int] NULL,
	[product_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 02/10/2024 20:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[imgURL] [varchar](255) NULL,
	[model] [varchar](255) NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[product] ([id], [description], [imgURL], [model], [price], [quantity]) VALUES (N'PRO01', N'', N'nokia-lumia-520.jpg', N'Nokia Lumia 520', 3000000, 10)
INSERT [dbo].[product] ([id], [description], [imgURL], [model], [price], [quantity]) VALUES (N'PRO02', N'', N'blackberry-passport.jpg', N'BlackBerry Passport', 10000000, 10)
INSERT [dbo].[product] ([id], [description], [imgURL], [model], [price], [quantity]) VALUES (N'PRO03', N'', N'sony-xperia-z5.jpg', N'Sony Xperia Z5', 7000000, 10)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_45hebabj53af6id3aslbtk36n]    Script Date: 02/10/2024 20:47:23 ******/
ALTER TABLE [dbo].[cartItem] ADD  CONSTRAINT [UK_45hebabj53af6id3aslbtk36n] UNIQUE NONCLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cartItem]  WITH CHECK ADD  CONSTRAINT [FKktfb6ycifnw6oaro1g5bnge45] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[cartItem] CHECK CONSTRAINT [FKktfb6ycifnw6oaro1g5bnge45]
GO
ALTER TABLE [dbo].[cartItem]  WITH CHECK ADD  CONSTRAINT [FKooxi9arvo8vhlfsr505ycpvyq] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[cartItem] CHECK CONSTRAINT [FKooxi9arvo8vhlfsr505ycpvyq]
GO
USE [master]
GO
